@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Castoro+Titling&family=Cinzel:wght@500&family=MedievalSharp&display=swap');

* {
margin: 0;
padding: 0;
box-shadow: border-box;
list-style: none;
text-decoration: none;
font-family: 'Cabin', sans-serif;
}

body {
overflow: hidden;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 25px 48px;
color: rgb(200, 104, 112);
}

.logo {
width: 150px;
margin-left: 80px;
}

.navigation ul {
display: flex;
align-items: center;
gap: 38px;
margin-right: 80px;
}

.navigation ul li a {
color: #9fa6aa;
font-size: 18px;
padding-bottom: 5px;
border-bottom: 2px solid transparent;
transition: all .1s;
}

.navigation ul li a:hover {
border-bottom: 2px solid #9fa6aa;
}

.button {
border-radius: 5px;
border-style: none;
font-size: 18px;
cursor: pointer;
color: #cd8f93;
transition: 1s ease;
}

.button:hover {
background-color: #394b53
}

.principal {
display:inline-block;
text-align: start;
}

.titulo {
font-size: 90px;
margin-top: 250px;
margin-left: 200px;
color: rgb(200, 104, 112);
}

.titulo-dois {
font-size: 15px;
margin-left: -900px;
margin-top: 30px;
text-align: center;
color: #394b53;
}

.button-dois {
margin-left: 410px;
margin-top: 50px;
border-radius: 5px;
border-style: none;
font-size: 25px;
cursor: pointer;
color: #cd8f93;
transition: 1s ease;
}

.button-dois:hover {
background-color: #394b53
}

.poke {
width: 700px;
margin-left: 1050px;
margin-top: -460px;
}




